.previewPane {
    -fx-border-style: none;
    -fx-background-color: #9d9d9d;
}

.red {
    -fx-background-color: #F00;
}

.green {
    -fx-background-color: #0F0;
}

.blue {
    -fx-background-color: #00F;
}

.bottomBar {
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #bdbdbd;
}